<aside class="left">
  <div class="epbox explore-summary">
    <header>具体结局分布情况</header>
    <bc-echart-render [chartPieData]="chartPieData"></bc-echart-render>
  </div>
  <div class="epbox diagnose-top">
    <header>诊断TOP10</header>
    <bc-echart-render [chartPieData]="chartPieData"></bc-echart-render>
  </div>
  <div class="epbox treat-summary">
    <header>治疗情况</header>
    <bc-echart-render [chartPieData]="chartPieData"></bc-echart-render>
  </div>
  <div class="epbox treat-top">
    <header>治疗情况TOP10</header>
    <bc-echart-render [chartPieData]="chartPieData"></bc-echart-render>
  </div>
  <div class="epbox result-summary">
    <header>结局情况</header>
    <bc-echart-render [chartPieData]="chartPieData"></bc-echart-render>
  </div>
  <div class="epbox result-top">
    <header>具体结局分布情况</header>
    <bc-echart-render
      [chartPictorialBarData]="chartPictorialBarData"
    ></bc-echart-render>
  </div>
</aside>
<aside></aside>
